# NAUKRI JOBS

## HYPOTHESIS/INSIGHTS
* Total job postings and job postings by locations<br>
* High - low job oppurtunities by industry, location<br>
* Commonly required years of experience by industry, location<br>
* Highest paid job by experience<br>
* Salary trend across different jobs by year<br>
* Not disclosed by recruiter
* High - low Required skills across industry, location

In [1]:
import numpy as np
import pandas as pd
from difflib import get_close_matches

In [3]:
# # Get city mapping
# state_cities = state_cities.apply(lambda x: x.astype(str).str.upper())
# india_map = {}
# for state in state_cities['State'].unique():
#     india_map[state] = state_cities.loc[state_cities.State == state, 'Name of City'].unique().tolist()

# all_cities = []
# for x in df['Location'].unique().tolist():
#     all_cities = all_cities + str(x).upper().split(',') 
# all_cities = [x.strip() for x in all_cities]

### Helper functions

In [2]:
def get_state(cities, india_map):
    state_list = []
    for city in cities:
        for key, values in india_map.items():
            if city in values:
                state_list.append(key)
    if state_list:
        return list(set(state_list))
    else:
        return list(set(cities))

### Describe data

In [3]:
df = pd.read_csv('marketing_sample_for_naukri_com-jobs__20190701_20190830__30k_data.csv')
state_cities = pd.read_csv('list_of_cities_and_towns_in_india.csv')

### Locations

In [4]:
# Get city mapping
state_cities = state_cities.apply(lambda x: x.astype(str).str.upper())
india_map = {}
for state in state_cities['State'].unique():
    india_map[state] = state_cities.loc[state_cities.State == state, 'Name of City'].unique().tolist()

# Convert locations to upper and remove extra characters
df['location_processed'] = df['Location'].apply(lambda x: str(x).upper().split(','))
df['location_processed'] = df['location_processed'].apply(lambda x: [elements.strip() for elements in x])

# Get state of the city
df['state'] = df['location_processed'].apply(lambda x: get_state(x, india_map))

# Expand list of cities to individual rows
cols = list(df.columns)
cols.remove('state')
df_locations = pd.DataFrame({
                              col:np.repeat(df[col].values, df['state'].str.len())
                              for col in df.columns.drop('state')}
                            ).assign(**{'state':np.concatenate(df['state'].values)})

df_locations['is_real_state'] = df_locations['state'].apply(lambda x: True if x in india_map.keys() else False)

In [29]:
df_locations[~df_locations['is_real_state']]['state'].value_counts().reset_index()[:30]

                        index  state
0                   DELHI NCR    799
1                         NAN    577
2                 NAVI MUMBAI    193
3                   GHAZIABAD    104
4               GREATER NOIDA     75
5              MUMBAI SUBURBS     75
6                     ...MORE     42
7      BENGALURU (WHITEFIELD)     20
8        HYDERABAD (MADHAPUR)     19
9      HYDERABAD (GACHIBOWLI)     17
10    NOIDA (SECTOR-62 NOIDA)     16
11      GURGAON (UDYOG VIHAR)     16
12       GURGAON (CYBER CITY)     14
13             MUMBAI (MAROL)     14
14               PUNE (BANER)     14
15         PUNE (VIMAN NAGAR)     13
16    NOIDA (SECTOR-63 NOIDA)     12
17       GURGAON (SOHNA ROAD)     11
18             MUMBAI (POWAI)     11
19       PUNE (KALYANI NAGAR)     10
20   BENGALURU (INDIRA NAGAR)      9
21                     HOWRAH      9
22          DELHI NCR (OKHLA)      8
23          MUMBAI (VIKHROLI)      8
24    NOIDA (SECTOR-60 NOIDA)      8
25              PUNE (CHAKAN)      8
26       MUMBAI (LOWER PAREL)      8
27                GURGAON (1)      7
28  AHMEDABAD (PRAHLAD NAGAR)      7
29             MUMBAI (WORLI)      6

### Industry

In [33]:
set(df['Industry'].tolist())

{'* A US based $4.0 billion world leader in staffing services to over 6000 customers globally. * World\'s largest "Technology" staffing company in the world today - IT, Telecom, Infrastructure and Engineering. * TEKsystems is a part of Allegis Group which is a $16.0 Billion US based privately held firm. One of the world\'s largest privately held companies (source: Forbes) * The 6th Largest staffing company in the world and the 2nd Largest in the US. * One of the top vendors to 90% of Fortune 500 companies. * Every year we deploy over 80,000 employees across different parts of the world. * Operations in North America, Europe and Asia with over 300 offices across locations. * In India, TEKsystems currently has 1000+ technical consultants employed at various Fortune 500 companies across the country. * For the second consecutive year, TEKsystems was named to Fortune magazine\'s "100 Best Companies to Work For" in 2014. * Please visit - www.teksystems.com ; www.allegisgroup.com, for more information.',
 '* A US based $4.0 billion world leader in staffing services to over 6000 customers globally. * World\'s largest "Technology" staffing company in the world today - IT, Telecom, Infrastructure and Engineering. * TEKsystems is a part of the Allegis Group which is a $16 Billion US based privately held firm. One of the world\'s largest privately held companies (source: Forbes) * The 4th Largest staffing company in the world and the 2nd Largest in the US. * One of the top vendors to 90% of Fortune 500 companies. * Every year we deploy over 80,000 employees across different parts of the world. * Operations in North America, Europe and Asia with over 300 offices across locations. * In India, TEKsystems currently has 1800+ technical consultants employed at various Fortune 500 companies across the country. * For the second consecutive year, TEKsystems was named to Fortune magazine\'s "100 Best Companies to Work For" in 2014. * Please visit - www.teksystems.com; www.allegisgroup.com, for more information.',
 '* TEKsystems is a part of Allegis Group -an $8.5 Billion US based privately held firm. One of the world\'s largest privately held companies (source: Forbes) * One of the world\'s largest "Technology" staffing companies today - IT, Telecom, Infrastructure and Engineering. * Every year we deploy over 80,000 employees across different parts of the world. * Operations in North America, Europe and Asia with over 300 offices * In India, we have more than 1000+ technical consultants employed at various Fortune 500 companies across Bangalore, Hyderabad, Delhi, Mumbai, Pune & Chennai. * TEKsystems was named to Fortune magazine\'s "100 Best Companies to Work For" list for 2013. * Please visit - www.teksystems.com ; www.allegisgroup.com, for more information on us.',
 '- TEKsystems India is a wholly owned subsidiary of Allegis Group, Inc, a $11 billion enterprise - TEKsystems provides global IT professional recruitment services to help organizations achieve their IT and business goals. - We provide service across Applications, End User Support, IT Leadership, Networks Infrastructure, Project & PMO - $3.8 billion world leader in Technology Staffing Services - 6,000+ clients, with 98% client retention - Over 100 locations throughout North America, Europe and Asia - 5,000 full time employees - Over 80,000 IT consultants deployed worldwide annually - #1 US Provider of IT Recruitment - Best of Staffing Client Satisfaction and Candidate Satisfaction by Inavero - Forbes America\'s Best Employers list - We have been listed in Fortune Magazine under "100 Best Companies to Work For" for 5 consecutive years - Please visit - www.teksystems.com ; www.allegisgroup.com, for more information on us. - In India, the company specifically focuses on dealing with Technology products and providing high-end engineering design and analysis, IT and ITES services,Vendor Management, Training and Staffing services to Fortune 500 clients. - The 6th Largest staffing company in the world and the 2nd Largest in the US. - One of the top vendors to 99% of Fortune 500 companies. - Employs over 100,000 employees across different parts of the world Operations in North America, Europe and Asia with over 300 offices and now in India',
 'About Aston Carter: * Aston Carter is a wholly owned subsidiary of Allegis group which is $12.5billion global staffing and recruiting company. * Aston Carter was acquired by Allegis in the year 2011 and expanded to APAC including India in 2017. * Aston Carter focus on recruiting business professionals across various disciplines like Accounting and Finance, Sales, Operations, Audit, Risk and compliance, and also Banking and financial services * We work with many fortune 500 customers across the globe and currently working with 20+ global clients in India which are predominantly in Banking and financial services sector to name a few, Visa, Morgan Stanley, JPMC, Fidelity, Wells Fargo, Myntra etc * We have 2000 candidates working out of different clients globally and over 100+ in India. * We have our presence in 90+ locations globally and in India we are in Bangalore, Mumbai, Pune, Chennai as well as Hyderabad',
 'About TEKsystems:* TEKsystems provides global IT professional recruitment services to help organizations achieve their IT and business goals.*We provide service across Applications, End User Support, IT Leadership, Networks Infrastructure, Project & PMO*$3.8 billion world leader in Technology Staffing Services*Wholly owned subsidiary of Allegis Group, a $11 billion enterprise*6,000+ clients, with 98% client retention*Over 100 locations throughout North America, Europe and Asia*5,000 full time employees*Over 80,000 IT consultants deployed worldwide annually*#1 US Provider of IT Recruitment*Best of Staffing Client Satisfaction and Candidate Satisfaction by Inavero *Forbes America\'s Best Employers list *We have been listed in Fortune Magazine under "100 Best Companies to Work For" for 5 consecutive years*Please visit - www.teksystems.com ; www.allegisgroup.com, for more information on us.',
 'Accounting / Finance',
 'Accounting, Finance',
 'Advertising / PR / MR / Event Management',
 'Advertising, PR, MR, Event Management',
 'Agriculture / Dairy',
 'Agriculture, Dairy',
 'Allegis Group India',
 'Allegis Group India is a wholly owned subsidiary of Allegis Group, Inc. In India, the company specifically focuses on dealing with Technology products and providing high-end engineering design and analysis, IT and ITES services,Vendor Management, Training and Staffing services to Fortune 500',
 "Allegis Group India is a wholly owned subsidiary of Allegis Group, Inc. In India, the company specifically focuses on dealing with Technology products and providing high-end engineering design and analysis, IT and ITES services,Vendor Management, Training and Staffing services to Fortune 500 clients. About Allegis Group: A US $6billion world leader in staffing services to over 4000 customers globally World's largest Technology staffing company in the world today IT, Telecom, Infrastructure and Engineering One of the world's largest privately held companies (source: Forbes) The 6th Largest staffing company in the world and the 2nd Largest in the US One of the top vendors to 99% of Fortune 500 companies Employs over 100,000 employees across different parts of the world Operations in North America, Europe and Asia with over 300 offices and now in India",
 "Allegis Group India is a wholly owned subsidiary of Allegis Group, Inc. In India, the company specifically focuses on dealing with Technology products and providing high-end engineering design and analysis, IT and ITES services,Vendor Management, Training and Staffing services to Fortune 500 clients.About Allegis Group: A US $6billion world leader in staffing services to over 4000 customers globally World's largest Technology staffing company in the world today IT, Telecom, Infrastructure and Engineering BROne of the world's largest privately held companies (source: Forbes) The 6th Largest staffing company in the world and the 2nd Largest in the US One of the top vendors to 99% of Fortune 500 companies Employs over 100,000 employees across different parts of the world Operations in North America, Europe and Asia with over 300 offices and now in India",
 'Animation / Gaming',
 'Animation, Gaming',
 'Architecture / Interior Design',
 'Architecture, Interior Design',
 "At TEKsystems, we're obsessed with technology. Its power to change everything. Technology fuels our passion and commitment to helping organisations do what they set out to. When we engage, we bring fresh ideas that help you galvanise your performance. Refine your strategy. Spark new energy. The future-and how we get there-depends on those who build, connect, create and transform our world. The most successful and innovative businesses are already doing it, and we're skilled experts at bringing the talent they need to thrive.",
 "At TEKsystems, we're obsessed with technology. Its power to change everything. Technology fuels our passion and commitment to helping organizations do what they set out to. When we engage, we bring fresh ideas that help you galvanize your performance. Refine your strategy. Spark new energy. The future-and how we get there-depends on those who build, connect, create and transform our world. The most successful and innovative businesses are already doing it, and we're skilled experts at bringing in the teams and support needed to thrive.",
 'Automobile / Auto Anciliary / Auto Components',
 'Automobile, Auto Anciliary, Auto Components',
 'Aviation / Aerospace Firms',
 'Aviation, Aerospace, Aeronautical',
 'BPO / Call Centre / ITES',
 'BPO, Call Centre, ITeS',
 'Banking / Financial Services / Broking',
 'Banking, Financial Services, Broking',
 'Brewery, Distillery',
 'Broadcasting',
 'Ceramics / Sanitary ware',
 'Ceramics, Sanitary ware',
 'Chemicals / PetroChemical / Plastic / Rubber',
 'Chemicals, PetroChemical, Plastic, Rubber',
 'Construction / Engineering / Cement / Metals',
 'Construction, Engineering, Cement, Metals',
 'Consumer Electronics / Appliances / Durables',
 'Consumer Electronics, Appliances, Durables',
 'Courier / Transportation / Freight / Warehousing',
 'Courier, Transportation, Freight , Warehousing',
 'Education / Teaching / Training',
 'Education, Teaching, Training',
 'Electricals, Switchgears',
 'Export / Import',
 'Export, Import',
 'FMCG / Foods / Beverage',
 'FMCG, Foods, Beverage',
 'Facility Management',
 'Fertilizers, Pesticides',
 'Food Processing',
 'Ford',
 'Fresher / Trainee / Entry Level',
 'Fresher, Trainee, Entry Level',
 'Gems / Jewellery',
 'Gems, Jewellery',
 'Glass / Glassware',
 'Glass, Glassware',
 'Government, Defence',
 'Heat Ventilation / Air Conditioning',
 'Heat Ventilation, Air Conditioning',
 'IT-Hardware & Networking',
 'IT-Software / Software Services',
 'IT-Software, Software Services',
 'Industrial Products / Heavy Machinery',
 'Industrial Products, Heavy Machinery',
 'Insurance',
 'Internet / Ecommerce',
 'Internet, Ecommerce',
 'Iron and Steel',
 'KPO / Research / Analytics',
 'KPO, Research, Analytics',
 'Laurus Labs Ltd is a fast growing pharmaceutical company. About Company: https://www.lauruslabs.com/',
 'Leather',
 'Legal',
 'Media / Entertainment / Internet',
 'Media, Entertainment, Internet',
 'Medical / Healthcare / Hospitals',
 'Medical Devices / Equipments',
 'Medical, Healthcare, Hospitals',
 'Mining / Quarrying',
 'Mining, Quarrying',
 'NGO / Social Services / Regulators / Industry Associations',
 'NGO, Social Services, Regulators, Industry Associations',
 'Office Equipment, Automation',
 'Oil and Gas / Energy / Power / Infrastructure',
 'Oil and Gas, Energy, Power, Infrastructure',
 'Other',
 'People are at the heart of every successful business initiative. At TEKsystems, a leading provider of IT staffing and IT services, we understand people. Every year we deploy over 80,000 IT professionals at 6,000 client sites across North America, Europe and Asia. Our deep insights into the IT labor market enable us to help clients achieve their business goals-while optimizing their IT workforce strategies.',
 'Pharma / Biotech / Clinical Research',
 'Pharma, Biotech, Clinical Research',
 'Printing, Packaging',
 'Publishing',
 'Pulp and Paper',
 'Real Estate / Property',
 'Real Estate, Property',
 'Recruitment / Staffing',
 'Recruitment, Staffing',
 'Retail / Wholesale',
 'Retail, Wholesale',
 'Security / Law Enforcement',
 'Security, Law Enforcement',
 'Semiconductors / Electronics',
 'Semiconductors, Electronics',
 'Shipping, Marine',
 "Solugenix is an information technology services firm that has a rich history of providing comprehensive technology services and solutions for more than four decades. As a pioneer in IT services, we've partnered with some of the biggest global corporations across many industries. Our history was built on a foundation of partnerships with global brands like McDonald's, Microsoft, CIT Group, Johnson & Johnson, Herbalife, Sony Pictures Entertainment, and many others. Whether it's providing dedicated support centres, staffing quality teams, or delivering business service solutions, clients can always count on Solugenix.",
 'Strategy / Management Consulting Firms',
 'Strategy, Management Consulting Firms',
 'Sugar',
 "TEKsystems - an Allegis Group company, is the world's leading Technology Staffing & services Organization. We service over 4000 clients globally, of which 91% are Fortune 100, 82% are Fortune 500 companies. At the moment, I am working towards SAP C4C consultant position for one of our clients - A global leader in manufacturing engineered products for Defence, Aero-Space, Atuomobile, Automotives, Power Transmission etc., based in Bangalore.",
 'TEKsystems Global Services (TGS) is the Software services division of TEKsystems. TEKsystems is a $4.3 billion organization with over 150 offices across the globe. TGS accounts for $600 Million and has about 5000 full time employees across the globe of which 1200 are in India. TGS operates through multiple solution centers across locations like US (Dallas, Redmond, Bloomington, Baltimore, Maryland), Europe (Amsterdam, London), Canada, Manila and India (Bangalore and Hyderabad). We are an ISO 27001 certified Organization',
 'Telcom, ISP',
 'Telecom / ISP',
 'Textiles / Garments / Accessories',
 'Textiles, Garments, Accessories',
 'Travel , Hotels , Restaurants , Airlines , Railways',
 'Travel / Hotels / Restaurants / Airlines / Railways',
 'Tyres',
 'Water Treatment, Waste Management',
 'Wellness , Fitness , Sports, Beauty',
 'llegis Group India is a wholly owned subsidiary of Allegis Group, Inc. In India, the company specifically focuses on dealing with Technology products and providing high-end engineering design and analysis, IT and ITES services,Vendor Management, Training and Staffing services to Fortune 500 clients. About Allegis Group: A US $6 billion world leader in staffing services to over 4000 customers globally & largest Technology staffing company in the world today. IT, Telecom, Infrastructure and Engineering . One of the worlds largest privately held companies. The 6th Largest staffing company in the world and the 2nd Largest in the US . One of the top vendors to 99% of Fortune 500 companies. Employees over 100,000 employees across different parts of the world. Operations in North America, Europe and Asia with over 300 offices and now in India',
 nan}

In [6]:
df[df['Uniq Id'].isin(['225c4680e3df32fbaf9c625ca18ae47c','d3fac027fd78efae29c1f9394a6cd576'])]

,Uniq Id,Crawl Timestamp,Job Title,Job Salary,Job Experience Required,Key Skills,Role Category,Location,Functional Area,Industry,Role,location_processed,state
13,225c4680e3df32fbaf9c625ca18ae47c,2019-08-04 09:37:17 +0000,Oracle IDAM,Openings: 1,3 - 7 Years,Oracle IDAM|OIM|OAM,Programming & Design,"Bengaluru,Hyderabad,Kolkata,Chennai","IT Software - Application Programming , Mainte...",IT-Software / Software Services,Software Developer,"[BENGALURU, HYDERABAD, KOLKATA, CHENNAI]","[TAMIL NADU, TELANGANA, KARNATAKA, WEST BENGAL]"
14,d3fac027fd78efae29c1f9394a6cd576,2019-07-04 20:06:22 +0000,Looking Facebook /social Media Manager For ou...,"3,50,000 - 5,00,000 PA.",2 - 4 yrs,digital marketing| seo| social media marketin...,Online/Digital Marketing,Gurgaon,"Marketing , Advertising , MR , PR , Media Plan...","Advertising, PR, MR, Event Management",Social Media Marketing Manager,[GURGAON],[HARYANA]

In [7]:
df_locations[df_locations['Uniq Id'].isin(['225c4680e3df32fbaf9c625ca18ae47c','d3fac027fd78efae29c1f9394a6cd576'])]

,Uniq Id,Crawl Timestamp,Job Title,Job Salary,Job Experience Required,Key Skills,Role Category,Location,Functional Area,Industry,Role,location_processed,state
14,225c4680e3df32fbaf9c625ca18ae47c,2019-08-04 09:37:17 +0000,Oracle IDAM,Openings: 1,3 - 7 Years,Oracle IDAM|OIM|OAM,Programming & Design,"Bengaluru,Hyderabad,Kolkata,Chennai","IT Software - Application Programming , Mainte...",IT-Software / Software Services,Software Developer,"[BENGALURU, HYDERABAD, KOLKATA, CHENNAI]",TAMIL NADU
15,225c4680e3df32fbaf9c625ca18ae47c,2019-08-04 09:37:17 +0000,Oracle IDAM,Openings: 1,3 - 7 Years,Oracle IDAM|OIM|OAM,Programming & Design,"Bengaluru,Hyderabad,Kolkata,Chennai","IT Software - Application Programming , Mainte...",IT-Software / Software Services,Software Developer,"[BENGALURU, HYDERABAD, KOLKATA, CHENNAI]",TELANGANA
16,225c4680e3df32fbaf9c625ca18ae47c,2019-08-04 09:37:17 +0000,Oracle IDAM,Openings: 1,3 - 7 Years,Oracle IDAM|OIM|OAM,Programming & Design,"Bengaluru,Hyderabad,Kolkata,Chennai","IT Software - Application Programming , Mainte...",IT-Software / Software Services,Software Developer,"[BENGALURU, HYDERABAD, KOLKATA, CHENNAI]",KARNATAKA
17,225c4680e3df32fbaf9c625ca18ae47c,2019-08-04 09:37:17 +0000,Oracle IDAM,Openings: 1,3 - 7 Years,Oracle IDAM|OIM|OAM,Programming & Design,"Bengaluru,Hyderabad,Kolkata,Chennai","IT Software - Application Programming , Mainte...",IT-Software / Software Services,Software Developer,"[BENGALURU, HYDERABAD, KOLKATA, CHENNAI]",WEST BENGAL
18,d3fac027fd78efae29c1f9394a6cd576,2019-07-04 20:06:22 +0000,Looking Facebook /social Media Manager For ou...,"3,50,000 - 5,00,000 PA.",2 - 4 yrs,digital marketing| seo| social media marketin...,Online/Digital Marketing,Gurgaon,"Marketing , Advertising , MR , PR , Media Plan...","Advertising, PR, MR, Event Management",Social Media Marketing Manager,[GURGAON],HARYANA